body {
    overflow-x: scroll !important;
    background: 255, 255, 255, 1;
}

#leftbar {
    overflow-y: scroll;
    height: 100% !important;
    overflow-x: hidden !important;
    width: 10px !important;
}

#middle {
    margin-left: 1px !important;
}

#middle div{
    -webkit-border-radius: 0;
    border-radius: 0;
}

.gb_Bc{
    z-index: 0;
}

.eaJ {
    overflow-y: auto;
}

#main {
    /* position: absolute; */
    /* left: -70px; */
    /* overflow-x: scroll !important; */
}

.gb_kd {
    background: rgba(255, 255, 255, 1)
}

.nH {
    background: rgba(255, 255, 255, 1)
}

.aSt {
    width: 96% !important;
    height: 96% !important;
    left: 0 !important;
    top: 0 !important;
}

.gb_2d:not(.gb_pe) {
    z-index: 0 !important;
}

.btC {
    padding: 0 !important;
}